<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" th:lang="${#locale.toLanguageTag()}">
<body>
<div th:fragment="main-navigation(activeSection)" class="navigation-container" th:classappend="${activeSection == 'workbench'} ? 'overlay' : ''">
    <div class="navbar">
        <span><img class="logo" th:src="@{/img/logo.svg}" alt="reitti logo" title="reitti" src="/img/logo.svg"></span>
        <a id="nav-timeline" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER', 'ROLE_MAGIC_LINK_FULL_ACCESS')" th:classappend="${activeSection == 'index'} ? 'active' : ''" th:href="@{/}" class="nav-link" th:title="#{nav.timeline}"><i class="lni lni-route-1"></i></a>
        <a id="nav-memories" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" th:unless="${isLiveDataOnly}" th:href="@{/memories}" class="nav-link" th:classappend="${activeSection == 'memories'} ? 'active' : ''" th:title="#{nav.memories}"><i class="lni lni-agenda"></i></a>
        <a id="nav-statistics" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" th:unless="${isLiveDataOnly}" th:href="@{/statistics}" class="nav-link" th:classappend="${activeSection == 'statistics'} ? 'active' : ''" th:title="#{nav.statistics}"><i class="lni lni-bar-chart-4"></i></a>
        <a id="nav-coverage" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" th:if="${userSettings.h3Enabled}" th:unless="${isLiveDataOnly}" th:href="@{/coverage}" class="nav-link" th:classappend="${activeSection == 'coverage'} ? 'active' : ''" th:title="#{nav.coverage}"><i class="lni lni-globe-1"></i></a>
        <a id="nav-workbench" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" th:unless="${isLiveDataOnly}" th:href="@{/workbench}" class="nav-link" th:classappend="${activeSection == 'workbench'} ? 'active' : ''" th:title="#{nav.workbench}"><i class="lni lni-compass-drafting-2"></i></a>
        <a id="nav-settings" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" th:href="@{/settings}" class="nav-link" th:classappend="${activeSection == 'settings'} ? 'active' : ''" th:title="#{nav.settings.tooltip}"><i class="lni lni-gear-1"></i></a>
        <a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER', 'ROLE_MAGIC_LINK_FULL_ACCESS')" th:if="${activeSection == 'index'}" type="button" class="nav-link" id="auto-update-btn" th:title="#{map.auto-update.enable.title}" title="Auto Update"><i class="lni lni-play"></i></a>
        <a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER', 'ROLE_MAGIC_LINK_FULL_ACCESS')" th:if="${activeSection == 'index'}" type="button" class="nav-link" onclick="toggleFullscreen()" th:title="#{map.fullscreen.toggle.title}" title="Toggle Fullscreen"><i class="lni lni-arrow-all-direction"></i></a>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="nav-link" th:title="#{nav.logout.tooltip}" style="border: none"><i
                    class="lni lni-exit"></i>
            </button>
        </form>
    </div>
</div>
</body>
</html>
